<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
      <ion-title>
         Grupo de Exames
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  
  <ion-card *ngFor="let grupo of grupos">
      <ion-item >
        <ion-button [routerLink]="'/exames/' + idGrupoUsuario + '/' + grupo.id" fill="outline" slot="end">IR</ion-button>
        <ion-card-content>
            {{grupo.nome}}
        </ion-card-content>
      </ion-item>
  </ion-card>
</ion-content>
