<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Exame Fácil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list mode="ios">
    <ion-button [routerLink]="'/grupos-exame/1'" expand="block" color="light" shape="round">Enfermeiro</ion-button>
    <ion-button [routerLink]="'/grupos-exame/2'" expand="block" color="medium" shape="round">Paciente</ion-button>
  </ion-list>

  <!-- <ion-list>
    <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
  </ion-list> -->
</ion-content>